body{
	margin:0;
}
header{	
	background-color:#eda839;
	text-align: center;	
	padding: 50px 100px;
	font-weight: bold;
	font-size: 30px;
}
nav{
	overflow: hidden;
	background-color: #a87728;
	
}
nav a{
	float: left;
	text-align:center;
	padding: 20px 45px;
	font-size: 18px;
	color: #000;
	text-decoration: none;
}
nav a:hover{
	background-color: #784d08;
	color: #fff;
}
.search{
	float: right;
	margin: 0 60px 0 0;
	overflow:hidden;
	line-height: 60px;
}
.search input{
	font-size:13px;
	border: none;
	border-radius:5px;
	padding: 8px;
	float: right;
}
.searchbtn{
	float: right;
	pointer: cursor;
	padding: 4px 6px;
	border: none;
	font-size:13px;
}

h1
{
	text-align: center;
}
hr{
	border: 1px solid #ededeb;
	width: 75%;
	margin-top: 30px;
}
.active{
	background-color: #784d08;
	color: #fff;
}
input {
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	margin: 15px 0;
	border-radius: 4px;
}
textarea{
	width:100%;
	resize:none;
	box-sizing: border-box;
	padding: 12px 20px;
	height: 130px;
	margin: 15px 0;
	border-radius: 4px;
}

.innermain{
	padding: 50px 20px;
	background-color: #fcfae8;
}
.center {
	display: block;
	margin: auto;
	width: 50%;
}

p.para{
	padding: 5px 25px;
}
table{
	border-collapse: collapse;
	}
th, td, tr{
	padding: 12px;
	width: 25%;
}
		
.centerTable {
	margin: auto;
}
tr:nth-child(odd){
	background-color: #eda839;
}
.container {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px;
	margin: 8px auto;
	width: 40%;
}
.container img {
	width: 70px;
	float: left;
	height:70%;
	margin-right: 20px;
	border-radius: 50%;
}
.container span {
	font-size: 20px;
	margin-right: 15px;
}
button{
	padding: 14px 35px;
	text-decoration: none;
	color: #000;
	background-color: #a87728;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 0 0 40%;
}
button:hover{
	background-color: #784d08;
	color: #fff;
}

.contactUs form{
	width:30%;
	margin: auto;
}

footer{
	text-align: center;
	background-color:#eda839;
	color: #000;
	padding: 8px;
}
	

