header{	
	background-color:#eda839;
	text-align: center;	
	padding: 50px 100px;
	font-weight: bold;
	font-size: 30px;
}
nav{
	overflow: hidden;
	background-color: #a87728;
	
}
nav a{
	float: right;
	text-align:center;
	padding: 20px 45px;
	font-size: 18px;
	color: #000;
	text-decoration: none;
}
nav a:hover{
	background-color: #784d08;
	color: #fff;
}
h1
{
	text-align: center;
}
.active{
	background-color: #784d08;
	color: #fff;
}
input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 15px 0;
  border-radius: 4px;
}
textarea{
	width:100%;
	resize:none;
	box-sizing: border-box;
	padding: 12px 20px;
	height: 130px;
	margin: 15px 0;
	border-radius: 4px;
}
.innermain{
	float: left;
	
}
.left{
	padding-top: 50px;
	padding-bottom:50px;
	width: 65%;
}
.right{
	padding-top: 50px;
	padding-bottom:50px;
	width: 35%;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
}

p.para{
	padding: 12px 25px;
}
table{
	border-collapse: collapse;
	}
th, td{
	padding: 12px;
	width: 25%;
}
		
.centerTable {
  margin: auto;
}
tr:nth-child(odd){
	background-color: #eda839;
}
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0
}
.container img {
	width: 90px;
  float: left;
  height:100%;
  margin-right: 20px;
  border-radius: 50%;
}
.container span {
  font-size: 20px;
  margin-right: 15px;
}
button{
	padding: 14px 35px;
	text-decoration: none;
	color: #000;
	background-color: #a87728;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 0 0 40%;
}
button:hover{
	background-color: #784d08;
	color: #fff;
}

footer{
	position: fixed;
	font-size: 20px;
	left: 0;
	bottom: 0;
	background-color: #eda839;
	text-align: center;
	color: #000;
	width: 100%;
}
	

